/** IMPORTS **/
@use 'variables' as *;
@use 'reset';
@use 'general';
@use 'alert';
@use 'homepage/homepage';
@use 'account/join';
@use 'lot/lot';
@use 'lot/detail';
@use 'mypage/mypage';
@use 'member/member';
@use 'seller/seller';
@use 'community/community';
@use 'community/detail' as community-detail;
@use 'cs/cs';
@use 'admin/admin';

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: $font;
	color: $text;
	background: $bg;
	-webkit-font-smoothing: antialiased;
}

#wrap {
	width: 100%;
	min-height: 100vh;

	.container {
		width: 100%;
		max-width: 1300px;
		margin: 0 auto;
		padding: 0 24px;

		@include down(sm) {
			padding: 0 16px;
		}
	}
}
