/** IMPORTS **/
@use 'variables' as *;
@use 'reset';
@use 'general';

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: $font;
	color: $text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
}

#wrap {
	width: 100%;
	min-height: 100vh;

	.container {
		width: 100%;
		max-width: 1300px;
		margin: 0 auto;
		padding: 0 24px;

		@include down(sm) {
			padding: 0 16px;
		}
	}
}
